@import '../base/_colors';

.body-add-task {
  margin: 0;
  min-height: 100vh;
}

.span-required {
  color: #ff8190;
}

.headline {
  display: flex;
  justify-content: center;
  padding-right: 500px;
}

.headline-h1 {
  position: absolute;
  top: 206px;
}

.main-add-task {
  display: flex;
  justify-content: flex-start;
  margin-top: calc(110px + 96px);
  padding-left: calc(232px + 50px);
  padding-right: 24px;
  width: calc(100% - 332px - 24px);
}

.container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 24.25px;
  width: 440px;
  padding: 0px 24px;
}

#title-add-task {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding-top: 48px;
  padding-bottom: 16px;
}

#title-add-task input {
  padding: 12px 21px;
  width: calc(100% - 2 * 21px);
  gap: 10px;
  border-radius: 10px;
  border: 1px solid $color-lightgrey;
  background: $color-light;
  align-self: stretch;
  font-family: Inter;
  font-size: 19px;
  color: $color-lightgrey;
}

#description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding-bottom: 16px;
}

#description textarea {
  display: flex;
  height: 84px;
  padding: 18px 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid $color-lightgrey;
  background: $color-light;
  font-size: 19px;
  font-family: Inter;
  color: $color-lightgrey;
}

#assignedTo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  position: relative;
  display: inline-block;
}

#due-date {
  position: relative;
  display: inline-block;
  position: relative;
  padding-right: 25px;
  &::before {
    content: '';
    background-image: url('data:image/svg+xml,%3Csvg width%3D%2225%22 height%3D%2224%22 viewBox%3D%220 0 25 24%22 fill%3D%22none%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg id%3D%22event%22%3E%3Cmask id%3D%22mask0_75592_13822%22 style%3D%22mask-type%3Aalpha%22 maskUnits%3D%22userSpaceOnUse%22 x%3D%220%22 y%3D%220%22 width%3D%2225%22 height%3D%2224%22%3E%3Crect id%3D%22Bounding%20box%22 x%3D%220.855469%22 width%3D%2224%22 height%3D%2224%22 fill%3D%22%23D9D9D9%22%2F%3E%3C%2Fmask%3E%3Cg mask%3D%22url(%23mask0_75592_13822)%22%3E%3Cpath id%3D%22event_2%22 d%3D%22M15.3555%2018C14.6555%2018%2014.0638%2017.7583%2013.5805%2017.275C13.0971%2016.7917%2012.8555%2016.2%2012.8555%2015.5C12.8555%2014.8%2013.0971%2014.2083%2013.5805%2013.725C14.0638%2013.2417%2014.6555%2013%2015.3555%2013C16.0555%2013%2016.6471%2013.2417%2017.1305%2013.725C17.6138%2014.2083%2017.8555%2014.8%2017.8555%2015.5C17.8555%2016.2%2017.6138%2016.7917%2017.1305%2017.275C16.6471%2017.7583%2016.0555%2018%2015.3555%2018ZM5.85547%2022C5.30547%2022%204.83464%2021.8042%204.44297%2021.4125C4.0513%2021.0208%203.85547%2020.55%203.85547%2020V6C3.85547%205.45%204.0513%204.97917%204.44297%204.5875C4.83464%204.19583%205.30547%204%205.85547%204H6.85547V3C6.85547%202.71667%206.9513%202.47917%207.14297%202.2875C7.33464%202.09583%207.57214%202%207.85547%202C8.1388%202%208.3763%202.09583%208.56797%202.2875C8.75964%202.47917%208.85547%202.71667%208.85547%203V4H16.8555V3C16.8555%202.71667%2016.9513%202.47917%2017.143%202.2875C17.3346%202.09583%2017.5721%202%2017.8555%202C18.1388%202%2018.3763%202.09583%2018.568%202.2875C18.7596%202.47917%2018.8555%202.71667%2018.8555%203V4H19.8555C20.4055%204%2020.8763%204.19583%2021.268%204.5875C21.6596%204.97917%2021.8555%205.45%2021.8555%206V20C21.8555%2020.55%2021.6596%2021.0208%2021.268%2021.4125C20.8763%2021.8042%2020.4055%2022%2019.8555%2022H5.85547ZM5.85547%2020H19.8555V10H5.85547V20ZM5.85547%208H19.8555V6H5.85547V8Z%22%20fill%3D%22%232A3647%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 30%;
    right: 35px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.dropdown-arrow-hover {
  &:hover {
    background: $color-board-task-empty;
    border-radius: 50%;
  }
}

.priority-options div {
  cursor: pointer;
  &:hover {
    box-shadow: $box-shadow-btn;
  }
}
.priorityUrgentActive,
.priorityMediumActive,
.priorityLowActive {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

.text-padding {
  padding-bottom: 8px;
}

.assinged-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 21px 0;
  &-profile {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    width: 32px;
    height: 32px;
    font-size: 12px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 50%;
    border: 3px solid $color-light;
    stroke: $color-light;
  }
  &-profile:not(:first-child) {
    margin-left: -10px;
  }
  &-overview {
    display: flex;
    text-align: center;
    color: $color-light;
    width: 42px;
    height: 42px;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    font-weight: 400;
    line-height: 32px;
    border-radius: 50%;
    border: 3px solid white;
    stroke: $color-light;
  }
}

.assigned-name {
  padding-left: 10px;
}

.addTask-selected {
  color: $color-light;
  background-color: $primary-color;
  border-radius: 10px;
  padding: 7px 16px 7px 16px;
}
.category-selected {
  color: $color-light;
  background-color: $primary-color;
  border-radius: 10px;
  padding: 7px 16px 7px 16px;
}

#assignedDropdown {
  position: absolute;
  z-index: 1;
  margin-top: 71px;
  min-width: 409px;
  padding: 21px 16px 0;
  border-radius: 10px;
  border: 1px solid $color-lightgrey;
  background-color: $color-light;
  font-size: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-light;
  background-repeat: no-repeat;
  background-position: right 8px top 50%, 0 0;
  background-size: 32px, 100%;
}

.requirement-desktop {
  position: absolute;
  bottom: 70px;
  padding: 10px 0px;
}

.requirement-mobile {
}

.bottom-add-task-mobile {
  display: none !important;
  position: fixed;
  bottom: 84px;
  left: 0;
  right: 0;
  display: flex;
  width: calc(100% - 2 * 16px);
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  background: $summary-background-color;
}

.btns-add-task-mobile-wrapper {
  display: flex;
  gap: 16px;
}

.test-6 {
  display: flex;
  justify-content: end;
  max-width: 850px;
  margin-top: -44px;
  margin-right: 10px;
  cursor: pointer;
}

.dropdown {
  margin-top: 40px;
  padding: 16px;
  border: 1px solid $color-board-grey;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-color: $color-light;
}

.vertical-line-add-task {
  width: 2px;
  height: 400px;
  background-color: $color-lightgrey;
  margin-top: 118px;
}

// --- container-right --- //
.container-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 24.25px;
  width: 440px;
  padding: 0px 24px;
  margin-top: 118px;
}

#due-date {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding-bottom: 24px;
}

#due-date input {
  padding: 12px 16px;
  width: calc(100% - 2 * 16px);
  border-radius: 10px;
  border: 1px solid $color-lightgrey;
  background: $color-light;
  font-family: Inter;
  color: $color-lightgrey;
  font-size: 19px;
}

.priority {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-bottom: 24px;
}

.priority-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.priority-options div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  background: $color-light;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

// .priority-options div:nth-child(2) {
// background: #ffa800;
// color: $color-light;
// font-size: 21px;
// font-weight: 700;
// }

.priorityUrgentActive {
  background: #ff3d19 !important;
  color: $color-light;
  font-size: 21px;
  font-weight: 700;
}

.priorityLowActive {
  background: #7ae22b !important;
  color: $color-light;
  font-size: 21px;
  font-weight: 700;
}

.priorityMediumActive {
  background: #ffa800 !important;
  color: $color-light;
  font-size: 21px;
  font-weight: 700;
}

.category {
  display: flex;
  flex-direction: column;
  width: 100%;
  // gap: 8px;
  padding-bottom: 24px;
}

.rotate-arrow {
  transform: rotate(180deg);
}
.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // max-width: 409px;
  width: calc(100% - 2 * 17px);
}

.dropbtn {
  max-height: 207px;
  overflow-y: auto;
  flex: 1;
}

.options-syle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid $color-lightgrey;
  background: $color-light;
  font-size: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $color-light;
  background-repeat: no-repeat;
  background-position: right 8px top 50%, 0 0;
  background-size: 32px, 100%;
}

.d-hover {
  display: none;
}
.subtask-div {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 40px;
  &-btn {
    cursor: pointer;
    padding: 5px;
    &:hover {
      scale: 1.2;
      border-radius: 50%;
    }
  }
  &-list {
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 7px 10px;
    margin-bottom: 10px;
    position: relative;

    &:hover {
      border-radius: 10px;
      background-color: $color-board-task-empty;
      .d-hover {
        display: block;
      }
    }
    p {
      flex: 1;
      padding: 0 21px;
    }
    &::before {
      content: '•';
    }
  }

  &-error {
    color: $error-red;
    font-size: 12px;
  }
}
.hover-checkbox {
  display: none;
  right: 16px;
  top: 13px;
  position: absolute;
}
.flex-checkbox {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 7px 16px 7px 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #2a3647;
    border-radius: 10px;
    .hover-checkbox {
      display: block;
    }
  }
}

.editSubTaskButtonBox {
  position: absolute;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 40px;
  gap: 20px;
}

.ulContainer {
  width: 100%;
  padding-inline-start: 0;
}

.ulContainer input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px;
  border: 1px solid $color-board-task-empty;
  background: $color-board-task-empty;
  font-family: Inter;
  font-size: 19px;
  width: 100%;
  height: 32px;
  padding-left: 11px;
  margin-left: 11px;
}

#subtasks {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.inputFieldBox {
  position: relative;
}

#subtasks input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid $color-lightgrey;
  background: $color-light;
  font-family: Inter;
  font-size: 19px;
  width: calc(100% - (2 * 16px));
}
.category-dropdown {
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  font-size: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px top 50%, 0 0;
  background-size: 32px, 100%;
  margin-top: -7px;
  min-width: 409px;
  z-index: -1;
}
.inputImgPlus {
  position: absolute;
  top: 11px;
  right: 12px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:hover {
    background: $color-board-task-empty;
    border-radius: 50%;
  }
}
.border-active {
  outline: 1px solid $secondary-color;
  position: absolute;
  z-index: 2;
}
.border-category-active {
  outline: 1px solid $secondary-color;
}

.border-focus {
  &:focus {
    outline: 1px solid $secondary-color;
  }
}

.contact-searchbar {
  border: none;
  width: 100%;
}

.btns-down-right-add-task {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  margin-top: 110px;
}

#clear,
#create-task {
  font-size: 20px;
}

#create-task p {
  color: $color-light !important;
  font-weight: 700;
}

.subTaskInputButtons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 10px;
  gap: 3px;
  top: 8px;
}
.flex-test {
  display: flex;
}
.subTaskInputImg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 5px;
}
.subTaskInputImg:hover {
  background-color: $color-board-task-empty;
  border-radius: 50%;
}
.subTaskInputImg-vertical::after {
  content: '';
  background-color: $color-board-grey;
  width: 1px;
  height: 30px;
  position: absolute;
  right: 33px;
  top: 2px;
}
.subTaskInputImg-vertical-1::after {
  content: '';
  background-color: $color-board-grey;
  width: 1px;
  height: 30px;
  position: absolute;
  right: 45px;
  top: 7px;
}

.checkImg {
  width: 20px;
  height: 18px;
}

.formAddTask {
  display: flex !important;
  width: 100%;
}

// ====== Task Popup ====== //

.aTPopupWrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #d1d1d1;
}

.aTPopupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.aTPopup {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 525px;
  min-height: 700px;
  border-radius: 30px;
  padding: 48px 40px;
  gap: 24px;
  // remove
  margin: 16px;
  background-color: $color-light;
  // transform: translate(1100px);
  // transition: all 125ms ease-in-out;
}

.aTPopupTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.aTPopupCategory {
  display: inline-block;
  background-color: #0038ff;
  border-radius: 8px;
  color: white;
  font-size: 23px;
  padding: 4px 24px;
}

.aTPopupCategory p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.ATPopupClose {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.ATPopupClose:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.ATPopupClose img {
  height: 24px;
  width: 24px;
}

.aTPopupHeadline {
  display: flex;
  justify-content: start;
}

.aTPopupH1 {
  text-align: left;
  font-size: 61px;
  font-weight: 700;
  color: $color-dark;
}

.aTPopupDescription {
  text-align: left;
}

.aTPopupDueDate {
  display: flex;
  gap: 16px;
}

.aTPopupPrio {
  display: flex;
  gap: 40px;
}

.aTPopupAssignedTo {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  max-height: 500px;
  gap: 4px;
}

.assigned-contact-profile-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 7px 16px;
  gap: 16px;
  cursor: pointer;
}

.assigned-contact-profile {
  display: flex;
  align-items: center;
  height: 42px;
  width: 42px;
}

.aTPopupSubtasks {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.aTPopupSubtasks span {
  margin-bottom: 8px;
}

.subtaskContainer {
  display: inline-flex; /* Änderung: von inline-flex zu inline-block */
  align-items: center;
  gap: 12px;
  padding: 6px 16px; /* Änderung: Padding nur für oberen und unteren Bereich */
  border-radius: 12px;
}

.subtaskContainer:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.subtaskContainer p {
  font-size: 16px;
}

.aTPopupButtonsBottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.aTPopupDelete,
.aTPopupEdit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.aTPopupDelete p,
.aTPopupEdit p {
  font-size: 16px;
  color: $primary-color;
}

.aTPopupDelete:hover .aTPopupP,
.aTPopupEdit:hover .aTPopupP {
  color: $secondary-color;
  cursor: pointer;
}

.aTPopupDelete:hover .delete-img {
  filter: invert(65%) sepia(27%) saturate(3883%) hue-rotate(165deg) brightness(94%) contrast(88%);
}

.aTPopupEdit:hover .edit-img {
  filter: invert(65%) sepia(27%) saturate(3883%) hue-rotate(165deg) brightness(94%) contrast(88%);
}

.aTPopupVerticalLine {
  width: 2px;
  height: 24px;
  background-color: #d1d1d1;
}

.aTPopupP {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: $color-dark;
}

.aTPopupSpan {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: $primary-color;
}

@media (max-width: 1325px) {
  .main-add-task {
    // padding-left: calc(232px + 24px);
    padding-right: 24px;
  }

  .container-left,
  .container-right {
    width: 100%;
    max-width: 440px; /* Maximalbreite setzen */
  }

  .headline-h1-add-task {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container-left,
  .container-right {
    padding: 0px 12px;
  }
}

@media (max-width: 1050px) {
  .main-add-task {
    padding-left: 24px;
    margin-top: 110px;
  }
  .formAddTask {
    display: block !important;
  }
}

@media (max-width: 800px) {
  .body-add-task {
    display: flex;
    flex-direction: column; /* Ändern Sie die Richtung der Hauptachse auf Spalte */
    overflow-y: auto;
  }

  p {
    font-size: 16px;
  }

  .main-add-task {
    flex-direction: column;
    margin-top: 48px;
  }

  .title-and-task {
    padding-top: 40px;
  }

  input {
    font-size: 16px !important;
  }

  #description textarea {
    font-size: 16px;
  }

  .dropdown {
    font-size: 16px;
    position: relative;
  }

  .container-left,
  .container-right {
    width: 100%; /* Breite auf 100% setzen, damit der Inhalt innerhalb der Breite des Bildschirms bleibt */
    margin: 0; /* Margin entfernen, um die volle Breite zu nutzen */
  }

  .vertical-line-add-task {
    display: none; /* Die vertikale Linie bei kleineren Bildschirmen ausblenden */
  }

  .requirement-desktop {
    display: none;
  }

  .requirement-mobile {
    display: flex;
  }
}

@media (max-width: 475px) {
  #clear-mobile {
    display: none;
  }
}

@media (max-width: 350px) {
  .bottom-add-task-mobile {
    padding: 16px 4px;
    width: calc(100% - 2 * 4px);
  }

  .menu-mobile {
    padding: 2px 8px;
    width: calc(100% - 2 * 8px);
  }
}
