@import "../base/_colors";
@import "../layout/_grid.scss";
@import '../base/_abstracts';

.flex-start {
    justify-content: flex-start;
}
.inputField-search {
    width: 380px;
  height: 24px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 8px 16px;
}
.add-task-popup {
    display: flex;
    position: absolute;
    margin: auto;
    width: -webkit-fill-available;
    justify-content: center;
    left: 20%;
    padding: 64px 74px;
    z-index: 9;
    background: white;
    border-radius: 30px;

    &-close {
        position: absolute;
        right: 40px;
        cursor: pointer;
    }
}
.slide-in {
    animation: fadeIn 1s, slideIn .8s linear;
}
.slide-out {
    animation: fadeOut 1s, slideOut .8s linear;

}




.search-side {
    display: flex;
    gap: 32px;

    &-bar {
        padding: 8px 16px;
        height: 200px;
        width: 380px;
        height: 48px;
        gap: 8px;
        border-radius: 10px;
        border: 1px solid rgba(209, 209, 209, 1);
        padding: 12px 21px;
        position: relative;
        &::placeholder {
            color: $color-lightgrey;
            top: 12px;
            position: absolute;
            font-size: 20px;
        }
        &-vertical-line {
            background-color: $color-lightgrey;
            width: 2px;
            height: 30px;
            position: absolute;
            right: 45px;
            top: 10px;
        }
    }
    &-input-img {
        position: absolute;
        width: 32px;
        right: 5px;
        top: 8px;
    }
}

.board {
  
    &-title {
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        color: $dark-blue;
        margin-bottom: 15.5px;
    }

    &-task {
        padding: 16px;
        background: $color-light;
        border-radius: $border-radius;
        
        &-epic {
            padding: 4px 16px;
            border-radius: 8px;
            color: $color-light;
            width: fit-content;
            font-size: 16px;
            margin-bottom: 24px;
        }

        &-epic {
            &-blue {
                background: $color-board-story-blue;
            }
            &-green {
                background: $color-board-story-green;
            }
        }

        &-title {
            font-family: "Inter", sans-serif;
            font-weight: 700;
            padding-bottom: 8px;
        }
        &-description {
            color: $color-board-grey;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin-bottom: 24px;
        }
        &-subtask {
            display: flex;
            justify-content: space-between;
            gap: 11px;
        }

        &-subtask-progress {
            width: 128px;
            height: 8px;
            background-color: #F4F4F4;
            border: none;
            border-radius: 8px;
            margin-bottom: 24px;
        }
        &-subtask-counter {
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
        }
        &-member {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-profile {
                display: inline-block;
                text-align: center;
                color: #FFFFFF;
                background-color: #6e52FF;
                width: 32px;
                height: 32px;
                font-size: 12px;
                font-weight: 400;
                line-height: 32px;
                border-radius: 45%;
                border: 3px solid white;
                stroke: #FFF;
            }
            &-profile:not(:first-child) {
                margin-left: -10px;
            }
        }
    }
}