// @import "../base/_colors";

.container {
    margin: auto;
    position: relative;
    padding: 110px 96px;
}

.row {
    display: flex;
    align-items: center;
    padding-bottom: 28px;
    background-color: $primary-color;
} 

.col-6 {
    width: 50%
}

.col-12 {
    width: 100%;
}

.flex-start {
    justify-content: flex-start;
}
.summary {
    background-color: $summary-background-color;

    &-h2 {
        font-size: 61px;
        color: $color-dark;
    }

    &-h3 {
        display: inline;
        font-size: 27px;
        font-weight: 400;
        color: $primary-color;
    }
    &-welcome {
        font-size: 47px;
        font-weight: 500;
    }

    &-welcome-name {
        color: $secondary-color;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%
    }

    &-date {
        font-weight: 700;
    }

    &-subtitle {
        font-size: 16px;
    }

    &-flex {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    &-vertical-line {
        position: relative;
        width: 67px;
        display: block;
        text-align: center;
        padding-top: 100px;
        &:before {
            border-left: 3px solid #29ABE2;
            content: "";
            height: 56px;
            position: absolute;
            top: 20px;
            z-index: 0;
        }
    }
    
    
    &-todo {
        display: flex;
        font-family: 'Inter', sans-serif;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
        padding: 38px 58px;
        justify-content: center;
        align-items: center;
        gap: 18px;
        flex-shrink: 0;

        &-counter {
            color: #000;
            text-align: center;
            font-size: 64px;
            font-weight: 600;

            &-text {
                font-weight: 400;
            }
            &-text-m {
                font-size: 20px;
            }

            &-text-s {
                font-size: 16px;
            }
        }
    }
    
}
