@keyframes slideIn {
    0% {
      transform: translateX(400px);
      animation-timing-function: ease-out;
    }
    60% {
      transform: translateX(-30px);
      animation-timing-function: ease-in;
    }
    80% {
      transform: translateX(10px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateX(0px);
      animation-timing-function: ease-in;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  @keyframes slideOut {
  0% {
    transform: translateX(0px);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateX(10px);
    animation-timing-function: ease-out;
  }
  40% {
    transform: translateX(-30px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(400px);
    animation-timing-function: ease-out;
     opacity: 0;
  }
}