$background-color: #2a3644;

body {
  margin: 0;
  background-color: #f6f7f8;
  font-family: 'Inter', sans-serif;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  color: $primary-color;
}

.d-none {
  display: none !important;
}

.buttonGrey {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: white;
  background-color: #2a3647;
  border-radius: 8px;
  border: none;
  gap: 10px;
  padding: 15px 16px;
}

.buttonWhite {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: rgba(42, 54, 71, 1);
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  gap: 10px;
  padding: 15px 16px;
  border: 1px solid rgba(42, 54, 71, 1);
}

.buttonGrey:hover {
  transition: 250ms;
  background-color: rgb(14, 140, 233);
  transform: scale(1.0005);
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}

.buttonWhite:hover {
  transition: 250ms;
  border: 1px solid rgb(14, 140, 233);
  color: rgb(14, 140, 233);
  bottom: 1px;
  transform: scale(1.0005);
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
}

.footerLink:hover {
  color: rgb(14, 140, 233);
  font-weight: bold;
}

h1 {
  color: #000;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

@import '../base/_colors';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f6f7f8;
}

.d-none {
  display: none !important;
}

.buttonGrey {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: white;
  background-color: $primary-color;
  border-radius: 8px;
  border: none;
  gap: 10px;
  padding: 15px 16px;
}

.buttonWhite {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 48px;
  color: rgba(42, 54, 71, 1);
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  gap: 10px;
  padding: 15px 16px;
  border: 1px solid rgba(42, 54, 71, 1);
}

.buttonGrey:hover {
  transition: 250ms;
  background-color: rgb(14, 140, 233);
  transform: scale(1.001);
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.buttonWhite:hover {
  transition: 250ms;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  bottom: 1px;
  transform: scale(1.001);
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.footerLink:hover {
  color: $secondary-color;
  font-weight: bold;
}
